<!DOCTYPE html>
<html>
<body>
<h3>Admin Dashboard</h3>
<a href="/logout">Logout</a>

<table border="1">
<tr>
<th>ID</th>
<th>Description</th>
<th>Location</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for row in data %}
<tr>
<td>{{ row.id }}</td>
<td>{{ row.description }}</td>
<td>{{ row.location }}</td>
<td>{{ row.status }}</td>
<td>
{% if row.status != "Resolved" %}
<a href="/resolve/{{ row.id }}">Resolve</a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</body>
</html>
